In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan,7,8])
s

0     1
1     3
2     5
3   NaN
4     7
5     8
dtype: float64

In [6]:
dates = pd.date_range('20160601', periods=12)
print dates

DatetimeIndex(['2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04',
               '2016-06-05', '2016-06-06', '2016-06-07', '2016-06-08',
               '2016-06-09', '2016-06-10', '2016-06-11', '2016-06-12'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd.DataFrame(np.random.randn(6,4))
print df
#df.dtypes
df.head()

          0         1         2         3
0  0.706779  0.174886 -1.207745 -0.141885
1 -0.323350  0.564763  0.523308  1.089991
2 -0.110838  0.040511  0.294927  2.298688
3  0.936396  0.164620  0.970669  0.124895
4  0.338337  0.605093 -0.651551  0.163955
5  1.035990  0.605350  1.256163  0.824428

          0         1         2         3
0  0.706779  0.174886 -1.207745 -0.141885
1 -0.323350  0.564763  0.523308  1.089991
2 -0.110838  0.040511  0.294927  2.298688
3  0.936396  0.164620  0.970669  0.124895
4  0.338337  0.605093 -0.651551  0.163955

In [18]:
df.tail(2)

          0         1         2         3
4  0.338337  0.605093 -0.651551  0.163955
5  1.035990  0.605350  1.256163  0.824428

In [19]:
df.mean()

0    0.430552
1    0.359204
2    0.197629
3    0.726679
dtype: float64

In [21]:
plt.switch_backend('agg')
s.plot()